.jumbotron {
    text-align: center;
    background-image: url("../Img/jumbotron_back.jpg");
    background-size: cover;
}

.logo {
    height: 275px;
    width: 275px;
}

h2 {
    color: #6c78f5;
    text-align: center;
}

.gallery {
    text-align: center;
}

h3 {
    color: #a8715b;
    text-align: center;
}

h4 {
    text-align: center;
    color: #f59d78;
}



