.header {
    background-image: linear-gradient(to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-image: url("Img/jumbotron_back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
    color: blue;
    text-align: center;
}


