.header {
    width:100%;
    height:100px;
    background-image: url("https://cdn.wallpapersafari.com/61/41/t7Ya13.jpg");
    text-align: center;
    padding-top: 20px;
    color: white;
}

.jumbotron-fluid {
    color: white;
    text-align: center;



}

h2 {
    color: blue;
    text-align: center;
}


